@font-face {
   font-family: 'Lexend Deca';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/DAGGA%20DA%20ILLIONAIRE/Documents/GitHub/Gumball/fonts/Lexend Deca/regular.ttf') format('truetype');
}
